/* Navigation section: */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 75px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 100%, rgba(0, 212, 255, 1) 100%);
    transition: .5s;
}

nav .contacts {
    flex: 0 auto;
    overflow-y: hidden;
}

nav .contacts div {
    padding: 5px;
}

nav .contacts a {
    font-weight: bold;
}

nav .contacts span {
    color: #1e73be;
    margin-right: 10px;
    font-size: 20px;
    vertical-align: middle;
}

nav .logo {
    overflow-y: hidden;
}

nav .logo img {
    height: 0px;
    transition: .5s;
}

nav .menu {
    flex: 2;
    overflow-y: hidden;
}

nav .menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav .menu ul li {
    list-style: none;
}

nav .menu ul li a {
    line-height: 65px;
    padding: 2px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: .5s;
}

nav .menu ul li a.active,
nav .menu ul li a:hover {
    color: #ffffff;
    background: #1e73be;
}

nav .social {
    flex: 0 auto;
    overflow-y: hidden;
}

nav .social ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav .social ul li {
    list-style: none;
    overflow-y: hidden;
}

nav .social ul li a span {
    line-height: 65px;
    padding: 2px 5px;
    font-size: 20px;
}

nav.black {
    background: rgba(255, 255, 255, .85);
    height: 80px;
    padding: 10px 15px 5px 15px;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, .25);
}

nav.black .logo {
    flex: 0 auto;
    padding-right: 30px;
}

nav.black .logo img {
    height: 60px;
}

.menu-icon {
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
}


/* Header: */

header.head-banner {
    width: 100%;
    height: 60vh;
    background: url(/img/head_banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}


/* Content: */

.container {
    width: 85%;
    margin: 0 auto;
    padding: 25px;
}


/* Footer: */

footer a {
    color: #262626;
    font-weight: bold;
}

.footer-header {
    background-color: #ececec;
}

.footer-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
    padding: 25px 0 0 0;
}

.footer-column-1 {
    flex: 1;
    padding: 0 25px 0 0;
}

.footer-column-1 ul {
    padding: 0px;
}

.footer-column-2 {
    flex: 1;
    padding: 0 25px 0 0;
}

.footer-column-3 {
    flex: 1;
    padding: 0 25px 0 0;
}

.footer-column-1 p {
    color: #262626;
    font-size: 12px;
    padding: 0 15px 0 0;
}

.footer-column-1 li {
    padding: 3px;
}

.footer-company {
    background-color: #cccccc;
    color: #262626;
    font-size: 12px;
    text-align: center;
}


/* Media: */

@media(max-width: 1000px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: rgba(255, 255, 255, .95);
        box-shadow: 0 0 5px 0px rgba(0, 0, 0, .25);
        padding: 15px;
        transition: .5s;
    }
    nav .contacts {
        flex: 0 auto;
        order: 3;
        text-align: center;
        display: none;
    }
    nav .menu {
        order: 1;
        display: none;
        overflow-y: auto;
    }
    nav .menu ul {
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    nav .social {
        flex: 0 auto;
        order: 2;
        display: none;
    }
    nav .social ul {
        justify-content: center;
    }
    nav.black {
        padding: 15px;
        background: rgba(255, 255, 255, .85);
        height: 60px;
    }
    nav.black .logo img {
        height: 35px;
        transition: .5s;
    }
    .logo {
        display: none;
    }
    .menu-icon {
        display: block;
        overflow-y: hidden;
    }
    .showing {
        height: 100vh;
        transition: .5s;
    }
    .footer-header-container {
        flex-direction: column;
    }
    .footer-column-2 {
        flex: 1;
        padding: 15px 25px 0 0;
    }
    .footer-column-3 {
        flex: 1;
        padding: 15px 25px 0 0;
    }
    .footer-column-1 ul {
        text-align: center;
        padding: 0;
    }
    .footer-column-1 .footer-logo {
        text-align: center;
    }
}

@media(min-width: 2000px) {
    header.head-banner {
        width: 100%;
        height: 50vh;
        min-height: 600px;
        background: url(/img/head_banner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }
}

@media(min-width: 2500px) {
    header.head-banner {
        height: 60vh;
    }
}